@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --main-family: 'Poppins', sans-serif;
  --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: #20C6B7;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #de3641;
  --bttm-left-blur-2: #e46b73;
}

html {
    background: var(--color-bg);
    font-family: var(--main-family);
    min-height: 100%;
}

body{
  margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.header{
    text-align: center;
    background: black;
    color: wheat;
    width: 100%;
}

.header h1 {
  padding-top:3%;
  margin: 0;
  font-size: calc(max(5vw, 32px));
}

.resource-list ul {
  text-align: left;
  margin: 0 auto;
  list-style: none;
  justify-content: center;
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.resource-list li {
  padding: 0;
  width: 150px;
  text-align: center;
  margin: 10px 30px;
}

.logo img {
    padding: 30px 0;
    width: 100%;
}

.resource-list {
    font-family: Helvetica, Arial, sans-serif;
    font-size: larger;
    padding: 10px 0;
    text-align: center;
}

.resource-list ul {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

.resource-list a {
    color: wheat;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.resource-list div.image-container {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid wheat;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 8%;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: calc(25% - 8px);
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}